.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
  padding-bottom: 13vh; /* espaço para a navbar fixa/baixa */
  box-sizing: border-box;
  justify-content: flex-start;
}

.navbar{
  width: 100%;
  position: absolute;
  bottom: 0;
}