.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.navbar{
  width: 100%;
  position: absolute;
  bottom: 0px;
}