.manageMain{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding-top: 20%;
    background-color: #262626;
    font-family: system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    gap: 3vh;
    box-sizing: border-box;
}

.manageTitle{
    color: gainsboro;
    font-weight: bold;
    font-size: x-large;
}