.register {
    position: relative;
    min-height: 100vh;
    width: 100%;
    height: auto;
    background-color: #ebebeb;
    box-shadow: 0px 4px 250px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  
  .image {
      position: absolute;
      left: -22px;
      top: -27px;
      width: 488px;
      height: 996px;
      filter: blur(2px);
  }
  
  .image img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      pointer-events: none;
      max-width: none;
  }
  
  .title {
      position: absolute;
      left: 50%;
      top: 70px;
      transform: translateX(-50%);
      width: 40.2rem;
      font-family: 'Inter', sans-serif;
      font-size: 3.6rem;
      font-weight: 700;
      text-align: center;
      color: white;
      margin: 0;
      text-shadow: rgba(28, 219, 63, 0.25) 0px 4px 60px;
      line-height: normal;
  }
  
  .title-span {
      color: #c6fc03;
  }
  
