.login {
  position: relative;
  min-height: 100vh;
  width: 100%;
  height: auto;
  background-color: #ebebeb;
  box-shadow: 0px 4px 250px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.image {
    position: absolute;
    left: -22px;
    top: -27px;
    width: 488px;
    height: 996px;
    filter: blur(2px);
}

.image img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    pointer-events: none;
    max-width: none;
}

.title {
    position: absolute;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    width: 40.2rem;
    font-family: 'Inter', sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;
    color: white;
    margin: 0;
    text-shadow: rgba(28, 219, 63, 0.25) 0px 4px 60px;
    line-height: normal;
}

.title-span {
    color: #c6fc03;
}

.login-form-container {
    position: absolute;
    left: 50%;
    top: 280px;
    transform: translateX(-50%);
}

.forget-password {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #cacaca;
    margin: 0;
    cursor: pointer;
    line-height: normal;
    height: 30px;
    
    top: 675px;
    bottom: 80px;
    width: 90%;
    max-width: 30rem;
    font-size: 1.4rem;
}

.register {
    position: absolute;
    left: 50%;
    top: 729px;
    transform: translateX(-50%);
    width: 258px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #cacaca;
    margin: 0;
    line-height: normal;
    height: 30px;
    margin-top: 10px;
}

.register-link {
    color: #c6fc03;
    cursor: pointer;
}
