.classesMain{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding-top: 20%;
    background-color: #262626;
    font-family: system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
}

.title{
    display: flex;
    justify-items: center;
    gap: 1vh;
    padding-bottom: 3vh;
}

.proximas{
    color: #ffffff;
}

.aulas{
    color: #C6FC03;
}

.classesButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1vh;
    width: 100%;
    flex-wrap: wrap;
}

.button{
    font-size: small;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.classesCards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}