.reservationsMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding-top: 20%;
    background-color: #262626;
    font-family: system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
}

.proximas{
    color: #ffffff;
}

.aulas{
    color: #C6FC03;
}

.reservationsButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.reservationsCards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}